.vs/cprs-cprsfrm/FileContentIndex/d2a476d4-35fa-4cc5-9ee1-82efea37aedf.vsidx
.vs/cprs-cprsfrm/v17/.wsuo
.vs/cprs-cprsfrm/v17/DocumentLayout.backup.json
.vs/cprs-cprsfrm/v17/DocumentLayout.json
.vs/cprs-cprsfrm/v17/workspaceFileList.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/x86/Debug/AxInterop.AcroPDFLib.dll
obj/x86/Debug/Cprs.csproj.AssemblyReference.cache
/obj
