<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
      <add key="NpcAccessControlEnabled" value="false" />
      <add key="NpcAccessStartTime" value="08:00" />
    </appSettings>
    <connectionStrings>
        <add name="Cprs.Properties.Settings.DBDev" connectionString="Data Source=SQLSL,5034;Initial Catalog=cprsdev;Connection Timeout=240;Integrated Security=True"/>
        <add name="Cprs.Properties.Settings.DBTest" connectionString="Data Source=SQLSL,5034;Initial Catalog=cprstest;Connection Timeout=240;Integrated Security=True"/>
        <add name="Cprs.Properties.Settings.DBProd" connectionString="Data Source=SSQLL,5026;Initial Catalog=cprsprod;Connection Timeout=240;Integrated Security=True"/>
        <add name="Cprs.Properties.Settings.Setting" connectionString="Data Source=SQLSL,5034;Initial Catalog=cprsdev;Connection Timeout=240;Integrated Security=True"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
